* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #c2c7ce;
  padding: 15px;
}

header {
  text-align: center;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
}

.calendar-container {
  overflow-x: auto;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #1976d2;
  color: white;
}

.weekdays div {
  text-align: center;
  padding: 8px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  background: white;
  padding: 8px;
}

.day {
  background: #fafafa;
  border-radius: 8px;
  min-height: 75px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.number {
  font-weight: bold;
}

.person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ensaio { background: #ffd54f; }
.faespe { background: #81c784; }
.grupoA { background: #64b5f6; }
.grupoB { background: #ba68c8; }
.sabado { background: #fff3cd; }

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.dot.ensaio { background: #ffd54f; }
.dot.faespe { background: #81c784; }
.dot.grupoA { background: #64b5f6; }
.dot.grupoB { background: #ba68c8; }

.legenda {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.dev {
  margin-top: 10px;
  text-align: center;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.modal-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#closeModal {
  font-size: 26px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 600px) {
  .person img {
    width: 30px;
    height: 30px;
  }
}

/* PRINT */
@media print {
  button { display: none; }
  body { background: rgb(255, 255, 255); }
}




